<nb-card size = giant>
  <nb-card-header>Upload Video</nb-card-header>
  <nb-card-body>
    <nb-stepper orientation="horizontal" [linear]="false">
      <nb-step label="step number one">
        <!--        input video url-->

        <button nbButton ><nb-icon icon="arrow-left"></nb-icon></button>
        <button nbButton><nb-icon icon="arrow-right"></nb-icon> </button>
      </nb-step>
      <nb-step label="step number two">
        <!--        input video title and description-->
      </nb-step>
      <nb-step label="step number three">
        <!--        add tags for video-->
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
