.container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 1em;
}
a {
  text-decoration: none;
}
div{
  display: inline-block;
}

.follow-btn{
  margin-left: 20px;
  .follow-unclicked{
    background-color: white;
    color: red;
    .follow-icon{
        color :red;
        //margin-left: 10px;
    }
}
}