<div class = "videodetail">
    <div class = "left">
        <div class = "video-info">
            <h3 class = "videotitle">title of video</h3>
            <p class = "videodescription">desc of video</p>
        </div>
        <div class="videoframe">
            <iframe width="90%" height="500px" 
            src="https://www.youtube.com/embed/n-O5mnscPQE" 
            frameborder="0" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        </div>
        <div class = "icon-group">
            <button nbButton ghost status="primary" 
            
            (click)="likeClick()">
                <nb-icon icon="heart"></nb-icon> 
                Like
                <span class= "likeCount"> 1 </span>
            </button>
            <button nbButton ghost status="success"
            (click)="favoriteClick()">
                <nb-icon icon="star"></nb-icon> 
                Favorite
                <span class= "likeCount"> 1 </span>
            </button>
        </div>
        <div class = "comment-up">
            
            <h4 class = "comment-list-title">Comments</h4>
            <div class = "comment-txt">
                    <nb-user class="user-info" 
                    size="medium" 
                    name="Monster Hunter"
                    picture=""
                    color = "green"
                    >
                </nb-user>
                <div class="comment-input">
                    <textarea cols="80" 
                    rows="5" 
                    placeholder="请自觉遵守互联网相关的政策法规，严禁发布色情、暴力、反动的言论。" 
                   ></textarea>
                </div>
                <div class = "comment-btn">
                    <button nbButton status="primary" 
                    (click)="addComment()">Comment</button>
                </div>    
            </div>
            
           
        </div>
        <!--*ngFor-->
        <div class= "comment-area">
            <div class = "comment-list" >
                <nb-card>
                    <nb-card-body>
                        <div class="comment-user">
                            <nb-user class="user-info" 
                            size="small" 
                            name="Monster Hunter"
                            picture=""
                            color = "green">
                        </nb-user>
                        </div>
                        <div class = "comment">
                            <p class = "comment-text">鸡你太美~~ baby 鸡你太美~~ baby 鸡你实在是太美~~ baby</p>
                        </div>
                    </nb-card-body>
                </nb-card>
                
                
            </div>
            <div class = "comment-list" >
                <nb-card>
                    <nb-card-body>
                        <div class="comment-user">
                            <nb-user class="user-info" 
                            size="small" 
                            name="Monster Hunter"
                            picture=""
                            color = "green">
                        </nb-user>
                        </div>
                        <div class = "comment">
                            <p class = "comment-text">鸡你太美~~ baby</p>
                        </div>
                    </nb-card-body>
                </nb-card>
                
                
            </div>
        </div>
        
    </div>
    <div class = "right">
            <nb-user class="user-info" 
                size="large" 
                name="Monster Hunter"
                picture=""
                color = "green">
        </nb-user>
        <div class = "follow-btn">
            <button nbButton status="danger"
            (click)="addFollow()"
            >+ Follow
                <span class ="followCount">1</span>
            </button>
            
        </div>
        

        <div class = "video-list" scrollshow="true">
            <div class="video-list-title">
                <h5>More Videos</h5>
            </div>
            <!--*ngFor-->
            <div class = "video-card">
                <nb-card>
                    <nb-card-body>
                        <div class="video-pic">
                            <img src="https://img.youtube.com/vi/n-O5mnscPQE/mqdefault.jpg">
                        </div>
                        <div class="video-card-info">
                            <a href="/watchlater" title="" class="title">
                                国家队都是什么怪物？距话筒一米照样秒杀你！网友：你爸爸永远是你爸爸
                            </a>
                            <span>Monster Hunter</span>
                        </div>
                    </nb-card-body>
                </nb-card>
                
            </div>
            <div class = "video-card">
                <nb-card>
                    <nb-card-body>
                        <div class="video-pic">
                            <img src="https://img.youtube.com/vi/n-O5mnscPQE/mqdefault.jpg">
                        </div>
                        <div class="video-card-info">
                            <a href="/watchlater" title="" class="title">
                                国家队都是什么怪物？距话筒一米照样秒杀你！网友：你爸爸永远是你爸爸
                            </a>
                            <span>Monster Hunter</span>
                        </div>
                    </nb-card-body>
                </nb-card>
                
            </div>

        </div>
        
    </div>
    

   
</div>
