<div class="navbar">
  <nb-actions class="left" size="small">
    <nb-action title="home" icon="home-outline" link="/home"></nb-action>
    <nb-action title="favorite" icon="star-outline" link="/favorite"></nb-action>
    <nb-action title="upload video" icon="cloud-upload-outline" link="upload"></nb-action>
    <nb-action title="following" icon="person-add-outline" link="follows"></nb-action>
    <nb-action title="watch later" icon="clock-outline" link="watchlater"></nb-action>
  </nb-actions>


</div>
