<header>
    <toolbar>
        <title>Profile</title>
    </toolbar>
</header>

<body>
    <section>
        <div class="text-container">
            <div class="content">
            <p>My Video</p>
            </div>
            <button class="viewmore">More</button>
        </div>
        <p>My Picture</p>
        <button class="viewmore">More</button>
        <p>My Subscirber</p>
        <button class="viewmore">More</button>
        <p>Favorite</p>
        <button class="viewmore">More</button>
        <p>History</p>
        <button class="viewmore">More</button>
    </section>
</body>
