<div class="wrapper">
    <section *ngIf="pageStatus == 'proPage'">
        <ng-container *ngFor="let title of titleArr">
            <div class="videoList">
                <div class="videoTitle">
                    <a href="" class="t">{{title}}</a>
                    <span class="count">1</span>
                    <a class="more" (click)="more(title)">More</a>
                </div>
                <div class="videoContent">
                    <ng-container *ngFor="let item of Arr">
                        <div class="small-item">
                            <a href="" target="_blank" class="cover">
                                <!-- <img> -->
                                <span class="length">0{{item}}:48</span>
                                <span class="i-watchlater"></span>
                            </a>
                            <!--href question, double check-->
                            <a href="" target="_blank" title="video1" class="title">
                                Video Title
                            </a>
                            <div class="meta">
                                <span class="play">
                                    <i class="icon"></i>288
                                    </span><span class="time"><i class="icon"></i>2020-4-8
                                    </span></div>
                            </div>
                        </div>       
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </section>
    <section *ngIf="pageStatus !== 'proPage'">
        <div class="videoList">
            <div class="videoTtiel">
                <a href="" class="t">{{title}}</a>
                <span class="count">1</span>
                <a class="more" (click)="return()">return</a>
            </div>
            <div class="videoContent">
                <ng-container *ngFor="let item of Arr1">
                    <div class="small-item">
                        <a href="" target="_blank" class="corver">
                            <!-- <img> -->
                            <span class="length">0{{item}}:48</span>
                                <span class="i-watchlater"></span>
                        </a>
                        <a href="" target="_blank" title="video1" class="title">
                            Video Title
                        </a> <!--href question, double check-->
                        <div class="meta">
                            <span class="play">
                                <i class="icon"></i>288
                                </span><span class="time"><i class="icon"></i>2020-4-8
                                </span></div>
                    </div>
                </ng-container>
            </div>
        </div>
    </section>
</div>
