<p>history works!</p>

<div class = "history">
    <div class = "history-title">
        <nb-icon icon="clock"></nb-icon> 
        History
    </div>
    <a routerLink="details/n-O5mnscPQE" >readmore</a>

    <div class = "history-list">
        <!--*ngFor-->
        <div class = "video-card">
            <nb-card>
                <nb-card-body>
                    <div class="video-pic">
                        <img src="https://img.youtube.com/vi/n-O5mnscPQE/mqdefault.jpg">
                    </div>
                    <div class="video-card-info">
                        <a href="pages/watchlater" title="" class="title">
                            国家队都是什么怪物？距话筒一米照样秒杀你！网友：你爸爸永远是你爸爸
                        </a>
                        <nb-user class="user-info" 
                                size="small" 
                                name="Monster Hunter"
                                picture=""
                                color = "green">
                        </nb-user>
                    </div>
                </nb-card-body>
            </nb-card>
            
        </div>
        <!--*ngFor-->
        <div class = "video-card">
            <nb-card>
                <nb-card-body>
                    <div class="video-pic">
                        <img src="https://img.youtube.com/vi/n-O5mnscPQE/mqdefault.jpg">
                    </div>
                    <div class="video-card-info">
                        <a href="/watchlater" title="" class="title">
                            国家队都是什么怪物？距话筒一米照样秒杀你！网友：你爸爸永远是你爸爸
                        </a>
                        
                        <nb-user class="user-info" 
                                size="small" 
                                name="Monster Hunter"
                                picture=""
                                color = "green">
                        </nb-user>
                    </div>
                </nb-card-body>
            </nb-card>
            
        </div>
    </div>
</div>

<router-outlet></router-outlet>